{% extends 'common/base.html' %}
{% block navbar %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block title %}NextGen Logout{% endblock title %}

{% block body %}

<div class="user_panel"></div>
    <h1>NextGen Electronics</h1>
    <br>
    <h2>Thanks for Visiting</h2>
    <h3>You've securely ended your session.</h3>
    <br>
    <p class="submit"><a class="btn btn-primary" style="display:block; margin: 0 auto; width: 10%;" href="signin">Sign-In</a></p>
</div>


{% endblock body%}